body{
    margin:0;
    background:url("home.jpg");
    background-size:cover;
    color: white;   
    font-family:Arial;
}

.navbar{
    background:#eef3ff;
    padding:10px;
    text-align:right;
}
.navbar a{
    margin:15px;
    text-decoration:none;
    color:purple;
    font-weight:bold;
}

h1{
    font-size:80px;
    margin:60px;
    color:rgb(14, 15, 15);
}

.tagline{
    margin-left:60px;
    font-size:30px;
    color:white;
}
.footer{
    background:#f0eded;
    margin-top:250px;
    padding:.5px;
    text-align:center;
    color:black;
}   


