body{
    margin:0;
    background:url("menu.jpg");
    background-size:cover;
    color: white;
    font-family:Arial;
}

.navbar{
    background:#ebebf0;
    padding:5px;
    text-align:right;
}
.navbar a{
    margin:10px;
    text-decoration:none;
    color:purple;
    font-weight:bold;
}

.title{
    color:white;
    font-size:70px;
    margin:35px;
}

.card-container{
    display:flex;
    gap:50px;
    margin-left:150px;
}

.card{
    background:#121212;
    width:160px;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

.card img{
    width:100%;
    border-radius:10px;
}
.footer{
    background:#f0eded;
    margin-top: 250px;
    padding:.5px;
    text-align:center;
    color:black;
}

